@using JonesFamilyBusinessApp.ViewModel
@model TimesListViewModel

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-info">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                    Times
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                <table class="table table-hover">
                    <tr>
                        <th>Start Time</th>
                        <th>Hours</th>
                        <th>End Time</th>
                    </tr>
                    <tbody>
                        @foreach (System.Data.DataRow item in Model.dt.Rows)
            {
                            <tr>
                                <td>@item["startTime"]</td>
                                <td>@item["hour"]</td>
                                <td>@item["endTime"]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
